header, footer {
	background-color: navy;
	padding: 24px 0;
}		

nav {
	display: block;
	text-align: center;
	max-width: 800px;
	margin: 0 auto; 
}

body {
	background-color: #DFDBE5
	margin: 0;
	min-height: 100vh; 
}

main {
	max-width: 800px;
	margin: auto;
	text-align: center;
}



img {
	float: right;
	max-width: 450px;
	margin-top: 115px;
}

section {
	float: left;
	max-width: 700px;
	text-align: left;
	font-size: 20px;
}
	
.link {
	color: white; 
}

footer {
	color: white;
}
