header {
	background-color: navy;
	color: white;
	padding: 24px 0;
	text-align: center;
}		

nav {
	display: flex;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 12px;
}

body {
	background-color: #DFDBE5;
	margin: 0;
	min-height: 100vh; 
	display: flex;
	flex-direction: column;	
}

main {
	max-width: 800px;
	margin: auto;
	padding: 0 12px;
	text-align: center;
}

img {
	float: left;
	max-width: 450px;
	margin-top: 50px;
	margin-right: 150px
}

section {
	max-width: 600px;
	text-align: left;
	font-size: 20px;
}
	
.link {
	color: white; 
	margin: 0 4px;
	text-align: center;
}

.logo {
	margin: 0 4px;
	color: white;
}

footer {
	background-color: navy;
	padding: 24px 0;
	color: white;
	text-align: center;
	margin-top: auto;
}
